$mobile : 460px;
$tablet: 640px;
$tablet-large: 768px;
$desktop: 1024px;
$desktop-large: 1296px;

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.heading {
    font-family: 'Bree Serif', serif;
    margin-bottom: 0.75rem;
    &--primary {
        font-size: 48px;
        line-height: 48px;
        @media screen and (min-width: $tablet) {
            font-size: 2.25rem;
            line-height: 2.25rem;
        }
        @media screen and (min-width: $desktop) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    &--secondary {
        font-size: 21px;
        line-height: 1.5rem;
        @media screen and (min-width: $tablet) {
            font-size: 1.5rem;
            line-height: 1.8125rem;
        }
        @media screen and (min-width: $desktop) {
            font-size: 2.25rem;
            line-height: 2.25rem;
        }
    }
}